a:active     { text-decoration: underline; font-family: Tahoma; color: #800000; font-style: 
               italic }
a:link    { color: #008000; font-family: Tahoma; text-decoration: underline; font-style: 
               italic }
a:visited    { color: #008000; font-family: Tahoma; text-decoration: underline; font-style: 
               italic }
html         { font-family: Tahoma; text-align:justify }